<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-assertive">
        <h1 class="title">PorcentaG</h1>
   </ion-header-bar>

      <ion-content class="padding" ng-controller="main">

       <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Cantidad</span>
            <input type="number" placeholder="0.0"  ng-model="cantidad" ng-change="calcular()">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Porcentaje</span>
            <input type="number" placeholder="%" ng-model="porcent" ng-change="calcular()">
          </label>
        </div>

        <div class="card">
          <div class="item item-text-wrap text-center">
           El resultado es:  {{result | currency}}
          </div>
        </div>


         <ion-radio ng-repeat="item in clientSideList"
                   ng-value="item.value"
                   ng-model="data.selected"
                   ng-change="opcion(item.value)">
          {{ item.text }}

        </ion-radio>


        <img class="logo" src="img/icon.png" alt="...">





      </ion-content>
    </ion-pane>
  </body>
</html>
